<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table{
        width: 400px;
        border: 2px solid black;
        display: block;
        padding-top: 2%;
        padding-left: 2%;
        background-color: #5f0f40;
        color: white;
    }
        </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h2 class="navbar-brand">Book Haven</h2>
        <ul class="navbar-nav ml-auto">
            <li >
                <a class="nav-link" href="{{ url_for('section_details') }}">section details</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('add_section') }}">add section</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('monitor_books') }}">monitor books</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('librarian_dashboard_requests') }}">requested books</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('librarian_stats') }}">stats</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </nav>
   
    <div class="container mt-5">
        <h2>Section: {{ section_name }}</h2>
        <form action="{{ url_for('search_book_in_section', section_id=section_id) }}" method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for book ..." name="search">
                <div>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
            {% for messages in get_flashed_messages() %}
                    <div class="alert alert-secondary" role="alert">
                            {{messages}}  <a href="{{url_for('book_summary',section_id=section_id)}}">try again</a>
                    </div>
            {% endfor %}
        </form>
    </div>
    
    <div class="container">
        <h1>Books</h1>
        <div class="row">
            {% for book in books %}
            <div class="col-md-6">
                <table> 
                    <tr>
                        <td>Title: </td> 
                        <td>{{ book.name }}</td>
                    </tr>
                    <br>
                    <tr>
                        <td>Author: </td> 
                        <td>{{ book.authors}} </td>
                    </tr>
                    <br>
                    <tr>
                        <td>Section Title:</td>
                        <td>{{ book.section.name}} </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <form action="{{ url_for('delete_book', book_id=book.book_id) }}" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>  
                        <td>
                            <a href="/{{book.book_id}}/update_book"><button class="btn btn-primary" style="color: white;">  Edit book </button></a>
                        </td>
                    </tr>
                    <br>
                </table>
                <br>
            </div>      
            {% endfor %}
        </div>
    </div>
    
</body>