<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h2 class="navbar-brand" >Book Haven</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_dashboard') }}">user dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_books') }}"> Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_profile') }}">user profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('user_stats')}}">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('requested_books') }}">requested books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <form action="{{ url_for('search_book_my') }}" method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for books..." name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
            {% for messages in get_flashed_messages() %}
                    <div class="alert alert-secondary" role="alert">
                            {{messages}}  <a href="{{url_for('my_books')}}">try again</a>
                    </div>
            {% endfor %}
        </form>
        <div class="row">
            {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body bg-secondary">
                        <h5 class="card-title">Book Title : {{ book.book_name }}</h5>
                        <p class="card-text">Book Author : {{ book.book_author }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/read_book/{{ book.book_id }}" method="GET">
                                    <button type="submit" class="btn btn-success">Read Book</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</body>
</html>
